**/target/
**/.git
**/.github
**/pom.xml.asc
**/*.jar
**/*.war
**/*.tar.gz
**/*.iml
**/.idea
**/.project
**/.settings
**/.classpath
**/.factorypath
**/bin/
**/logs/
**/node_modules/
**/dist/
**/build/
**/.env
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/README.md
**/LICENSE
**/helm/
**/k8s/